*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    padding: 100px;
    background: linear-gradient(rgb(156, 1, 1), rgba(100, 6, 109, 0.8)), rgba(0, 0, 0, 0.8);
    display: grid;
    justify-content: center;
    align-items: center;
}
.container a{
    background-color: black;
    padding: 20px;
    border-radius: 8%;
    text-decoration: none;
    color: whitesmoke;
    transition: 0.4s;
}
.container a img{
    border-radius: 3%;
}
.container a:hover{
    background: rgba(0, 0, 0, 0.596);
    transition: 0.4s;
}
.container a p {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    font-size: 4vh;
}